<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>New</h1>
	<form action="/users" method="POST">
		<input type="text" name="name" placeholder="name"/>
		<br>
		<input type="text" name="comics" placeholder="comics"/>
		<br>
		<input type="text" name="comics" placeholder="comics"/>
		<br>
		<button>Submit</button>
	
</body>
</html>